div.btn{
	background-color: #2196f3;
	padding: 20px;
	font-size: 1.6em;
	color: #fff;
	padding-bottom:20px;
	overflow:none;
	height:70px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	margin-top: 2px;
	margin-left:3px;
	font-family: arial;
	font-weight: 200;
}
body{
	padding:10px;
}